.sidebyside {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.column {
    flex-grow: 1;
    position: relative;
}

.left {
    border: 3px solid red;
}

.right {
    border: 3px solid blue;
}

.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20px;
    color: white;
    font-size: 42px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
